@model asp_Le_Thi_Thanh_Thao.Context.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>

    dl {
        background-color: #ccf5ff;
    }

    .ie7 dl {
        overflow: hidden;
    }

    dt,
    dd {
        box-sizing: border-box;
        padding: 10px;
    }

        dd ~ dt,
        dd ~ dd {
            border-top: 1px solid #bdc8ca;
        }

    dt {
        float: left;
        width: 35%;
        padding-bottom: 0;
    }

    .ie7 dt {
        padding-bottom: 10px;
        clear: both;
    }

    dd {
        margin-left: 35%;
       
        background-color: #fff;
    }

    .ie7 dd {
        margin-left: 40%;
        overflow: hidden;
    }

    dd:after {
        content: "";
        display: block;
        clear: both;
    }
    /*dt*/ .row2 + dd:after {
        content: none;
    }

</style>
<h2>Chi tiết sản phẩm</h2>

<div>
    <hr />
    <div class=" d-flex justify-content-start">
        <div class=" mx-2">
            <a href="@Url.Action("Index","Product")" class="btn btn-ms btn-default ">Trở về</a>
        </div>
        <div class=" ">

            <a href="@Url.Action("Edit","Product", new { id = Model.Id })" class="btn btn-ms btn-default mb-4">Chỉnh sửa</a>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            <img src="~/Content/images/items/@Html.DisplayFor(model => model.Avatar)" style="width:100px;height:100px"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrandId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrandId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowOnHomePage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowOnHomePage)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedOnUtc)
        </dd>

    </dl>
</div>
