@model asp_Le_Thi_Thanh_Thao.Context.Brand

@{
    ViewBag.Title = "Details";
}
<style>

    dl {
        background-color: #ccf5ff;
    }

    .ie7 dl {
        overflow: hidden;
    }

    dt,
    dd {
        box-sizing: border-box;
        padding: 10px;
    }

        dd ~ dt,
        dd ~ dd {
            border-top: 1px solid #bdc8ca;
        }

    dt {
        float: left;
        width: 35%;
        padding-bottom: 0;
    }

    .ie7 dt {
        padding-bottom: 10px;
        clear: both;
    }

    dd {
        margin-left: 35%;
        background-color: #fff;
    }

    .ie7 dd {
        margin-left: 40%;
        overflow: hidden;
    }

    dd:after {
        content: "";
        display: block;
        clear: both;
    }
    /*dt*/ .row2 + dd:after {
        content: none;
    }
</style>
<h2>Chi tiết thương hiệu</h2>

<div>
    <hr />
    <div class=" d-flex justify-content-start">
        <div class=" mx-2">
            <a href="@Url.Action("Index","Brand")" class="btn btn-ms btn-default ">Trở về</a>
        </div>
        <div class=" ">

            <a href="@Url.Action("Edit","Brand", new { id = Model.Id })" class="btn btn-ms btn-default mb-4">Chỉnh sửa</a>
        </div>
    </div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Avatar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avatar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowOnHomePage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowOnHomePage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdateOnUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdateOnUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deleted)
        </dd>

    </dl>
</div>

